<div id="notice__content">

    <div class="notice__content__big" >

      <app-big-card 

      imagem__notice = "https://www.ifsertao-pe.edu.br/images/Campus_Petrolina/2024/Imagens/Fevereiro/PET_Laecio_banner-ef30a61bd1574a03bf66562e317d5a1f.jpg"

      data__notice="Última Atualização: 23 Fevereiro 2024"

      tittle__notice="Divulgada lista parcial de inscritos na seleção do projeto “Agricultura Conectada Sustentável: Maximizando a produtividade baseada em soluções IoT”"
      
      notice__text="Foi publicado, nesta sexta-feira (23), a lista preliminar de inscritos na seleção do projeto “Agricultura Conectada Sustentável: Maximizando a produtividade baseada em soluções IoT”, aprovado no Programa de Extensão Tecnológica Fundação de Amparo à Pesquisa do Estado de Pernambuco ( Edital Nº 05/2023)."

      meusiteid="https://www.ifsertao-pe.edu.br/index.php/campus/petrolina/16637-2024-02-23-21-14-20"

      ></app-big-card>

    </div><!---fim div .notice__content__big-->
    
    <div class="notice__content__small">

        <!--Block 1-->
        <app-small-card
          imagem__notice="https://www.ifsertao-pe.edu.br/images/Campus_Petrolina/2024/Editais/01/IMG-20240122-WA0021-cbf9b5c92e9d4251a3fd9680f2b2bc21.jpg"
          data__notice="Última Atualização: 21 Fevereiro 2024"
          tittle__notice="Academia Hacktown divulga Resultado Final da seleção de bolsistas "
          notice__text="O Projeto Academia Hacktown surgiu em 2014 e tem como objetivo estimular de forma lúdica, o desenvolvimento de habilidades cognitivas necessárias no Século XXI como: raciocínio lógico, raciocínio matemático e algorítmico, sistematização do pensamento, causa e consequência, concentração, decomposição de problemas e, dessa forma, o Pensamento Computacional."
          meusiteid="https://www.ifsertao-pe.edu.br/index.php/campus/petrolina/16623-2024-02-21-22-31-12"
        ></app-small-card><!--Block 1-->

        <!--Block 2-->
        <app-small-card
        imagem__notice="https://tm.ibxk.com.br/2024/02/23/23174513721267.jpeg?ims=1280x480"
        data__notice="24/02/2024 às 12:00"
        tittle__notice="WhatsApp está desenvolvendo aba exclusiva para contatos favoritos "
        notice__text="O WhatsApp está desenvolvendo uma ferramenta para salvar contatos como favoritos. A função foi encontrada em preparação na versão Beta do mensageiro para iOS nesta quinta-feira (23)."
        meusiteid="https://www.tecmundo.com.br/software/280247-whatsapp-desenvolvendo-aba-exclusiva-contatos-favoritos.htm"
        ></app-small-card><!--Block 2-->

        <!--Block 3-->
        <app-small-card
          imagem__notice="https://tm.ibxk.com.br/2024/02/23/23175550859270.jpg?ims=1280x480"
          data__notice="23/02/2024 às 18:45"
          tittle__notice="Google esclarece erros que levaram à pausa no gerador de imagens do Gemini"
          notice__text="O Google suspendeu temporariamente a função de geração de imagens de pessoas do Gemini após relatos de erros em representações históricas e raciais nos conteúdos criados pela inteligência artificial (IA) generativa. A decisão da empresa foi confirmada nesta sexta-feira (23), com novas explicações sobre o que motivou a medida."
          meusiteid="https://www.tecmundo.com.br/software/280249-google-esclarece-erros-levaram-pausa-gerador-imagens-gemini.htm"
        ></app-small-card><!--Block 3-->

    </div><!--- fim div .notice__content__small--->

  </div><!---end of #notice__content-->
